/* Load animation */

@-webkit-keyframes load { 
    0% {
        stroke-dashoffset:0
    }
}
@-moz-keyframes load { 
    0% {
        stroke-dashoffset:0
    }
}
@keyframes load { 
    0% {
        stroke-dashoffset:0
    }
}

/* Container */

.progressCircleContainer {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}

/* Item */

li.progressCircle {
  height: 100px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}

li.progressCircle:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}

li.progressCircle:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}

.progressCircle svg {
  width: 10rem;
  height: 10rem;
}

.progressCircle svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.progressCircle svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: rgba(255, 255, 255, 1);
  -webkit-animation: load 1s;
  -moz-animation: load 1s;
  -o-animation: load 1s;
  animation: load 1s;
}




//Circle 2

svg.circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 5s linear;
    stroke: #666;
    stroke-width: 1em;
    transform: rotate(40deg);
}
.listcard-enter.listcard-enter-active svg.circle {
    stroke-dashoffset: 0;
}
svg.circle circle {
    transition: stroke-dashoffset 2s linear;
}
svg.circle .bar {
    stroke: #FF9F1E;
}
